@media  (min-width: 768px) 
{
    .title-dreams{
        font-size: 52px;
        width: 100%;
    }

    .header .row {
        align-items: center;
    }
    
    .page-title {
        margin: 0;
        order: -1;
    }
    .title-dreams{
        margin:141px 0 0 0;
    }
    .button-three {
        width: 220px;
    }

    .cards {
        color: #333333;
        margin: auto;
        padding: 0;
        margin-top: 60px;
    }

        .teams {
            margin: auto;
            padding: 0;
            margin-bottom: -17px;
}
